{% load static %}

<html>
    
    <head>
        <title>Nakagaki Yuto Portfolio</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">
    </head>
    <body>

        <!-- .navbar -->
        <nav class="navbar" class="fixed">
            <ul class="navbar-list">
                <li class="navbar-item"><a class="navbar-link" href="/">TOP</a></li>
                <li class="navbar-item"><a class="navbar-link" href="/#about-section">ABOUT</a></li>
                <li class="navbar-item"><a class="navbar-link" href="/#work-section">WORK</a></li>
                <li class="navbar-item"><a class="navbar-link" href="/#try-section">TRY</a></li>
                <li class="navbar-item"><a class="navbar-link" href="/#skill-section">SKILL</a></li>
                <li class="navbar-item"><a class="navbar-link" href="/#blog-section">BLOG</a></li>
                <!-- <li class="navbar-item"><a class="navbar-link" href="/#contact-section">CONTACT</a></li> -->
            </ul>
        </nav>
        <!-- /.navbar -->

        {% block content %}
        {% endblock %}

        <!-- .footer -->
        <footer class="footer">
            　　<a class="page-top" href="/">TOPへ</a>
            <div class="inner">
                <div class="copyright">Copyright&copy; 2020 Nakagaki Yuto. </div>
            </div>
        </footer>
        <!-- /.footer -->

    </body>
</html>