{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<!-- .page-header -->
<header class="page-header">
    <h1 class="logo">
        <div class="logo-title">NAKAGAKI YUTO</div>
        <div class="logo-subtitle">Portfolio</div>
    </h1>
</header>
<!-- /.page-header -->

<!-- .about-section -->
<section class="about-section section" id="about-section">
    <div class="section-title">
        <h2>ABOUT</h2>
        <p>このサイトの紹介</p>
    </div>
    <div class="section-body about-item">
        <img class="about-image" src="{% static 'img/profile-photo2.JPG' %}" alt="プロフィール画像" width="200">
        <div class="about-body">
            <p>
                はじめまして！中垣祐人（ナカガキユウト）と申します。<br>
                学生生活のポートフォリオになるようなサイトを作りました。<br>自己紹介やちょっとしたブログも載せています。<br><br>
                このサイトのソースコードはGitHubでご確認頂けます。<br>
                　　　　　→　
                <a class="github" href="https://github.com/Nakagaki-Yuto/Portfolio" target="_blank">GitHubアカウントへ</a>

            </p>
        </div>
    </div>
</section>
<!-- /.about-section -->

<hr>

<!-- .work-section -->
<section class="work-section section" id="work-section">
    <div class="section-title">
        <h2>WORK</h2>
        <p>成果物</p>
    </div>
    <div class="section-body work-item">
        <img class="work-image" src="{% static 'img/kuchikomiapp_img.PNG' %}" alt="口コミ検索アプリ" width="200">
        <div class="work-body">
            <p>
                GURUNABI WEB SERVICE（ぐるなびのapi）を活用し、「エリア」と「口コミ」から飲食店を検索できるアプリケーションを作成しました。<br>
                お気に入り店舗の登録機能やGoogleアカウントでのログインなども実装しました。<br><br>

                URL : <a href="https://kuchikomi-search-app.tk/" target="_blank">口コミ de 検索</a><br>
                ソースコード : <a class="github" href="https://github.com/Nakagaki-Yuto/kuchikomi-search-app.git"
                    target="_blank">GitHubへ</a>
            </p>
        </div>
    </div>
    <div class="section-body work-item">
        <img class="work-image" src="{% static 'img/daily_report_img.PNG' %}" alt="日報&タスク管理アプリ" width="200">
        <div class="work-body">
            <p>
                Django Rest Framework × Reactで日報&タスク管理アプリケーションを作成しました。<br>
                日々の勉強の進捗管理とアウトプットに活用しています。<br><br>

                URL : <a href="https://nakagaki-yuto.github.io/daily_report_frontend/"
                    target="_blank">日報＆タスク管理アプリ</a><br>
                ソースコード : <a class="github" href="https://github.com/Nakagaki-Yuto/daily_report_frontend"
                    target="_blank">GitHubへ</a>
            </p>
        </div>
    </div>
</section>
<!-- /.work-section -->

<hr>

<!-- .try-section -->
<section class="try-section section" id="try-section">
    <div class="section-title">
        <h2>TRY</h2>
        <p>取り組んでいること</p>
    </div>
    <div class="section-body try-item">
        <img class="try-image" src="{% static 'img/addrust_img.JPG' %}" alt="長期インターン" width="200">
        <div class="try-body">
            <p>
                大学1年生の9月から、マーケティング系の会社でのインターンシップに取り組んでいます。<br><br>
                テレマーケティング事業部にて、初めはプレイヤーから、約一年後には20人程のチームをまとめるリーダーも経験しました。<br><br>
                j事業的な目線を兼ね備えたエンジニアを目指しています！


            </p>
        </div>
    </div>
</section>
<!-- /.try-section -->

<hr>

<!-- .skill-section -->
<section class="skill-section section" id="skill-section">
    <div class="section-title ">
        <h2>SKILL</h2>
        <p>持っているスキル</p>
    </div>
    <div class="section-body skill-list">
        <div class="skill-item">
            <img class="skill-image" src="{% static 'img/python_logo.png' %}" alt="Pythonロゴ" width="80">
            <div class="skill-body">
                <h3 class="skill-title">Python</h3>
                <p>
                    好きな（たぶん得意な？）言語はPythonです。<br>
                    開発、大学の授業、競プロなど、色々なときに使います。
                </p>
            </div>
        </div>
        <div class="skill-item">
            <img class="skill-image" src="{% static 'img/django_logo.jpg' %}" alt="Djangoロゴ" width="80">
            <div class="skill-body">
                <h3 class="skill-title">Django</h3>
                <p>
                    Webアプリ開発に興味があります。<br>
                    ちなみにこのサイトもDjangoを使って作りました。
                </p>
            </div>
        </div>
        <div class="skill-item">
            <img class="skill-image" src="{% static 'img/html_css_logo.jpg' %}" alt="html/cssロゴ" width="80">
            <div class="skill-body">
                <h3 class="skill-title">HTML/CSS</h3>
                <p>
                    WEB開発を良くするので、まあ少しはできます。<br>
                </p>
            </div>
        </div>
        <div class="skill-item">
            <img class="skill-image" src="{% static 'img/javascript_logo.jpg' %}" alt="JavaScriptロゴ" width="80">
            <div class="skill-body">
                <h3 class="skill-title">JavaScript</h3>
                <p>
                    JavaScriptも好きな言語のひとつです。<br>
                    React使いこなしたい。
                </p>
            </div>
        </div>
        <div class="skill-item">
            <img class="skill-image" src="{% static 'img/golang_logo.png' %}" alt="Golangロゴ" width="80">
            <div class="skill-body">
                <h3 class="skill-title">Golang</h3>
                <p>
                    最近はGoでの開発に力を入れています。
                    <br>
            </div>
        </div>

        <div class="skill-item">
            <img class="skill-image" src="{% static 'img/wordpress_logo.png' %}" alt="Webマーケロゴ" width="80">
            <div class="skill-body">
                <h3 class="skill-title">Word Press</h3>
                <p>
                    昔WEBメディアを少しだけ運営してました。<br>
                    SEO、コピーライティングなどもなんとなく分かります。
                </p>
            </div>
        </div>
    </div>
    <div class="section-title">
        <p>勉強中のスキル</p>
    </div>
    <div class="section-body skill-list">
        <div class="skill-item">
            <img class="skill-image" src="{% static 'img/aws_logo.png' %}" alt="AWSロゴ" width="80">
            <div class="skill-body">
                <h3 class="skill-title">AWS</h3>
                <p>
                    とりあえず今のうちに無料枠使い倒します。<br>
            </div>
        </div>
        <div class="skill-item">
            <img class="skill-image" src="{% static 'img/docker_logo.png' %}" alt="Dockerロゴ" width="80">
            <div class="skill-body">
                <h3 class="skill-title">Docker</h3>
                <p>
                    便利らしいので使いたいと思ってます。<br>
            </div>
        </div>
    </div>
</section>
<!-- /.skill-section -->

<hr>

<!-- .blog-section -->
<section class="blog-section section" id="blog-section">
    <div class="section-title">
        <h2>BLOG</h2>
        <p>ちょっとしたブログです</p>
    </div>
    <div class="section-body blog-content">
        {% for post in posts %}
        <div class="post">
            <p>{{ post.published_date }}</p>
            <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
        </div>

        {% endfor %}
    </div>
</section>
<!-- /.blog-section -->

<hr>

<!-- .contact-section -->
<!-- <section class="contact-section section" id="contact-section">
    <div class="section-title">
        <h2>CONTACT</h2>
        <p>ご連絡はメールへお願い致します</p>
    </div>
    <div class="contact-text">yuto.nakagaki@gmail.com</div>
</section> -->
<!-- /.contact-section -->
{% endblock %}