{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<!-- .page-header -->
<header class="page-header">
    <h1 class="logo">
      <div class="logo-title">NAKAGAKI YUTO</div>
      <div class="logo-subtitle">Portfolio</div>
    </h1>
  </header>
<!-- /.page-header -->

<!-- .about-section -->
<section class="about-section section" id="about-section">
    <div class="section-title">
        <h2>ABOUT</h2>
        <p>このサイトの紹介</p>
    </div>
    <div class="about-item">
        <img class="about-image" src="{% static 'img/profile-photo2.JPG' %}" alt="プロフィール画像" width="200">
        <div class="about-body">
            <p>
                はじめまして！中垣祐人（ナカガキユウト）と申します。<br>
                自身の学生生活のポートフォリオになるようなサイトを作りました。<br>自己紹介やちょっとしたブログを載せています。<br><br>
                このサイトのソースコードはGitHubでご確認頂けます。<br>
                　　　　　→　
                <a class="github" href="https://github.com/Nakagaki-Yuto/Portfolio" target="_blank">GitHubアカウントへ</a>

            </p>
        </div>
    </div>
</section>
<!-- /.about-section -->

<!-- .work-section -->
<section class="work-section section" id="work-section">
    <div class="section-title">
        <h2>WORK</h2>
        <p>取り組んでいること</p>
    </div>
</section>
<!-- /.work-section -->

<!-- .skill-section -->
<section class="skill-section section" id="skill-section">
    <div class="section-title">
        <h2>SKILL</h2>
        <p>持っているスキル</p>
    </div>
</section>
<!-- /.skill-section -->


<!-- .blog-section -->
<section class="blog-section section" id="blog-section">
    <div class="section-title">
        <h2>BLOG</h2>
        <p>ちょっとしたブログ</p>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% for post in posts %}
                    <div class="post">
                        <p>{{ post.published_date }}</p>
                        <h4><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h4>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- /.blog-section -->
{% endblock %}

