{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<!-- .post-detail -->
<div class="post-detail">
    {% if post.published_date %}
        <div class="date">
            {{ post.published_date }}
        </div>
    {% endif %}
    <h2>{{ post.title }}</h2>
    <p>{{ post.text|linebreaksbr }}</p>
</div>
<!-- /.post-detail -->


<!-- .comment -->
<div class="comment">    
    <hr>
    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">コメントする</a>
    <br><br>
    <p>コメント {{ post.comments.count }}件</p>
    <div class="comment-body">
        {% for comment in post.comments.all %}
            {% if comment.approved_comment == True %}
            <div class="date">{{ comment.created_date }}</div>
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.text|linebreaks }}</p>
            {% endif %}
        {% endfor %}
    </div>
</div>
<!-- /.comment -->

{% endblock %}